@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

.app {
  font: var(--font-m);

  background: var(--bg-color-pr);
  color: var(--color-pr);

  min-height: 100vh;
}
